# Copie este arquivo para .env e preencha se necessário
# Por enquanto todas as APIs são públicas e não precisam de chave
# BigQuery (configurar no Bloco 4)
GCP_PROJECT_ID=solvelicita
GCP_SA_KEY_PATH=/caminho/absoluto/fora/do/repo/solvelicita-sa-key.json
PNCP_BASE_URL=https://pncp.gov.br/api/consulta/v1
SICONFI_BASE_URL=https://apidatalake.tesouro.gov.br/ords/siconfi/tt
